<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }
 
  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

In [39]:

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

m1, sd1 = 160, 5
m2, sd2 = 140, 5
m3, sd3 = 165, 7

f1 = np.random.normal(m1, sd1, 10)
f2 = np.random.normal(m2, sd2, 10 )
f3 = np.random.normal(m3, sd3, 10)

#type(m1)
#type(sd1)
#type(f1)

#index = ['Row'+str(i) for i in range(1, len(f1))]

plant_height = pd.DataFrame({'Fert1':f1, 'Fert2':f2, 'Fert3':f3})

plant_height

        Fert1       Fert2       Fert3
0  159.070423  131.627667  167.530818
1  156.798850  147.123793  164.588191
2  151.726259  137.917000  178.247326
3  157.829194  141.005206  151.927664
4  164.001492  141.260994  166.379116
5  162.540388  140.173524  170.831439
6  154.959547  144.874491  163.246535
7  157.781769  143.041702  172.062085
8  163.368123  135.680792  167.090418
9  160.529988  140.827966  161.525225