In [40]:
{
    "tags": [
        "hide_input",
    ]
}

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

m1, sd1 = 160, 5
m2, sd2 = 140, 5
m3, sd3 = 165, 7

f1 = np.random.normal(m1, sd1, 10)
f2 = np.random.normal(m2, sd2, 10 )
f3 = np.random.normal(m3, sd3, 10)

#type(m1)
#type(sd1)
#type(f1)

#index = ['Row'+str(i) for i in range(1, len(f1))]

plant_height = pd.DataFrame({'Fert1':f1, 'Fert2':f2, 'Fert3':f3})

plant_height

        Fert1       Fert2       Fert3
0  157.519761  142.201049  154.663353
1  159.354448  136.543273  168.696600
2  163.932264  140.720257  173.293627
3  153.683363  139.398829  168.787592
4  162.766862  142.849335  162.243741
5  152.194625  136.098091  170.286482
6  156.728995  134.112353  158.398660
7  162.636686  148.049755  165.280911
8  168.738989  140.562548  169.691515
9  152.275210  143.986989  160.764328